body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: var(--background-white);
    margin: 0;
}
* {
    box-sizing: border-box;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
h1, h2, h3, h4, h5, p {
    margin-top: 0;
    margin-bottom: 0;
}
ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
    display: block;
}
button {
    cursor: pointer;
}
:root {
    --background-black: #2e2f42
    --background-white: #ffffff
    --logo-color: #4d5ae5
    --contact-color: #434455
}
.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    display: flex; 
    align-items: center;
    margin-right: 76px;
}
.link {
    text-decoration: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover {
    color: #404bbf;
}
.link:focus {
    color: #404bbf;
}
.studio {
    color: #2e2f42;
}
.list {
    list-style: none;
}
.paragraph {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    position: relative;
    padding-right: 40px;
}
.studio-nav::after {
    content: "";
    display: block;
    background: #404BBF;
    border-radius: 2px;
    width: 48px;
    height: 4px;
    position: absolute;
    margin-top: 21px;
}
.portfolio-nav::after {
    content: "";
    display: block;
    background: #404BBF;
    border-radius: 2px;
    width: 66px;
    height: 4px;
    position: absolute;
    margin-top: 21px;
}
.address {
    font-style: normal;
    margin-left: auto;
}
.mail {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-right: 40px;
}  
.colorcontact {
    color: var(--contact-color);
}
.first {
    background: rgba(46, 47, 66, 0.7);
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/background-img.jpg);
    background-size: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
}
.header {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}
.order-service-button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.order-service-button:hover {
    background: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.order-service-button:focus {
    background: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.third-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
    margin-top: 8px;
}
.list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}
.third-article-header {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}
.fourth-article {
    background-color: #f4f4fd;
}
.fourth-article-list {
    flex-basis: calc(100% / 4 - 24px);
    margin-left: 24px;
    margin-top: 24px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}
.footer {
    background: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}
.studioend {
    color:#f4f4fd;
}
.buttonport {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #f4f4fd;
    color: #4D5AE5;
    border: none;
    min-width: 69px;
    padding: 12px 24px;
    background: #f4f4fd;
    border: 1px solid #e7e9fc;
    border-radius: 4px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.buttonport:hover {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #404bbf;
    color: #ffffff;
    padding: 12px 24px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.buttonport:focus {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #404bbf;
    color: #ffffff;
    padding: 12px 24px;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.third-section {
    padding-top: 0;
}
.list-images {
    display: flex;
    flex-basis: calc(100% / 3 - 20px);
    margin-left: 20px;
    margin-top: 20px;
}
.picture-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-top: -20px;
}
.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
    display: flex;
    flex-wrap: wrap;
    max-width: 264px;
}
.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-bottom: 16px;
}
.filter-buttons {
    display: flex;
    justify-content: center;
    column-gap: 24px;
    margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}
.portfolio-images {
    display: block;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link {
    width: 360px;
    height: 300px;
}
.portfolio-img-wrapper {
    position: relative;
    overflow: hidden;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    padding: 40px 32px 0 32px;
    transform: translate(0, 100%);
    transition: transform 250ms linear;
}
.portfolio-images:hover,
.portfolio-images:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
    transform: translate(0, 0);
}
.third-header-portfolio {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}
.portfolio-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.page-header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E7E9FC;
}
.flex {
    display: flex;
}
.list-of-advantages {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
}
.list-of-employees {
    display: flex;
    flex-wrap: wrap;
    margin-left: -24px;
    margin-top: -24px;
}
.employee-information {
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    padding: 32px 16px 32px 16px;
}
.employee-name {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.employee-position {
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;
}
.portfolio-main {
    padding-top: 96px;
    padding-bottom: 120px;
}
.cards-info {
    border: 1px solid #e7e9fc;
    border-top: none;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 52px;
    background-color: #FFFFFF;
    position: relative;
    overflow: hidden;
}
.fourth-article-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}
.nav-color {
    color: #2E2F42;
}
.advantages-list {
    width: 264px;
}
.footer-text {
    width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}
.icon {
    display: inline-block;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    width: 64px;
    height: 64px;
}
.social-media-item {
    width: 40px;
    height: 40px;
}
.social-media-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-link:hover,
.social-media-link:focus {
    background-color: #404BBF;
}
.icon-social-media {
    display: inline-block;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    width: 40px;
    height: 40px;
}
.social-media-list {
    display: flex;
    padding-top: 8px;
    gap: 24px;
}
.fifth-article-header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}
.social-media-header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding-bottom: 16px;
}
.social-footer-container {
    margin-left: 120px;
}
.social-media-list-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.icon-div {
    width: 264px;
    height: 112px;
    background: #F4F4FD;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.social-media-item-footer {
    width: 40px;
    height: 40px;
}
.social-media-link-footer {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-link-footer:focus,
.social-media-link-footer:hover {
    background-color: #31D0AA;
}
.customers-list-item {
    width: 168px;
    height: 88px;
}
.customer-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 88px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    color: #8e8f99;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    padding: 0;
}
.icon-customer {
    fill: currentColor;
}
.customer-list-link:hover,
.customer-list-link:focus {
    color: #404BBF;
    border: 1px solid #404BBF;
    border-radius: 4px;
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    height: 576px;
    background-color: #FFFFFF;
}
.modal-close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-button:hover,
.modal-close-button:focus {
    background-color: #404BBF;
    border-radius: 50%;
    fill: #FFFFFF;
}
.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.footer-subscribe {
    margin-left: 80px;
}
.footer-input {
    margin-top: 16px;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2E2F42;
    width: 264px;
    height: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.04em;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
}
.subscribe-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.footer-subscribe-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 16px;
    background: #4D5AE5;
    border-radius: 4px;
    border-color: #4D5AE5;
    margin-left: 24px;
    margin-top: 40px;
    width: 165px;
    height: 40px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-subscribe-button:hover,
.footer-subscribe-button:focus {
    background: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.modal-header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-top: 72px;
    margin-left: auto;
}
.modal-name {
    margin-top: 16px;
    margin-left: 24px;
}
.modal-input-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-bottom: 4px;
}
.modal-name-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 360px;
    height: 40px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-name-input:focus,
.modal-name-input:hover, {
    border: 1px solid #4D5AE5;
    border-radius: 4px;
}
.modal-phone,
.modal-mail,
.modal-comment {
    margin-top: 8px;
    margin-left: 24px;
}
.modal-comment-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 360px;
    height: 120px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    padding-top: 8px;
    padding-left: 16px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comment-input:hover,
.modal-comment-input:focus {
    border: 1px solid #4D5AE5;
    border-radius: 4px;
    color: #2E2F42;
}
.modal-checkbox {
    margin-top: 16px;
    margin-left: 22px;
}
.modal-checkbox-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-top: 16px;
}
.modal-send-button {
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 169px;
    height: 56px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;    
    color: #FFFFFF;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-send-button:hover,
.modal-send-button:focus {
    background: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}